// sticky footer
html {
  height: 100%;
}
body, #root{
  height: 100%;
}
.App {
  min-height: 100%;
  display: grid;
  grid-template-rows: 1fr auto;
}
#footer {
  grid-row-start: 2;
  grid-row-end: 3;
  width: 100%;
  background-color:$color-alternate;
  color:#fff;
}
// END sticky footer
