// HEADER styles
#header{
  position:relative;
  overflow:hidden;
}
.stageWrapper{
  background-color: #232987;
  width:100%;
  height:100px;
  @include breakpoint(m){
    height:50vh;
    background:url('../assets/stage-min.jpg');
    background-position: top center !important;
    transform: scale(1.0);
    animation: zoom 35s ease-in-out 1s infinite;
    animation-fill-mode: forwards;
  }
}
.stage-desc{
  position:absolute;
  text-align:center;
  display:inline-block;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: $color-base-contrast;
}
.stage-desc h1{
  font-size:30px;
  font-family:$font-stack-header;
  @include breakpoint(m){
    font-size:70px;
  }
}
.stage-desc span{
  font-size:15px;
  font-family:$font-stack-sans;
  @include breakpoint(m){
    font-size:30px;
  }
}
// .fullVideo{
//   width:100%;
//   height:100vh;
//   overflow:hidden;
// }
// .stageWrapper:after{
//   content: '';
//   position:absolute;
//   top: 0;
//   left: 0;
//   width:100%;
//   height:calc(100% - 4px);
//   opacity:0.8;
//   background: $color-base;
// }
.nav-wrapper{
   position:relative;
   background: rgba(0,0,0,1);
   width:100%;
   z-index:100;
   @include breakpoint(m){
     position:fixed;
     background: rgba(0,0,0,0.5);
   }
 }
 nav{
   max-width:100%;
   padding:20px 10px;
   @include breakpoint(l){
     max-width:1200px;
     margin:0 auto;
   }
 }
#logo{
  font-size:20px;
  color:#fff;
}
@keyframes zoom{
  0% {transform: scale(1.0);}
  50% {transform: scale(1.2);}
  100% {transform: scale(1.0);}
}
