.introWrapper{
  padding:50px 10px 0;
  display:grid;

  @include breakpoint(m){
    padding:100px 10px 0;
    grid-template-columns: 3fr 2fr;
  }

  @include breakpoint(l){
    margin:0 auto;
    max-width:1200px;
  }
}

.intro h2, p, ul {
  grid-column-start: 1;
  padding-top: 20px;
  max-width:100%;
  color:$color-text-base;
  @include breakpoint(m){
    padding-left:40px;
  }
}
.intro p{
  line-height:140%;
  font-size: 18px;
}
.intro li{
  margin-left:20px;
  font-size: 18px;
}
.intro a{
  color:$color-alternate;
}
.intro ul{
  padding-top:0;
}
.socialWrapper{
  grid-row-start: 2;
  margin:50px 0 50px 0;
  text-align:center;
  .social{
    display:inline-block;
    padding:5px;
    img{
      height:50px;
    }
  }
  @include breakpoint(m){
    margin-bottom:0;
    grid-row-start: 2;
    grid-column-start: 1;
    grid-column-end: 3;
  }

}
